body {
  font-family: sans-serif;
  margin: 0px;
}
h1 {
  font-size: 5em;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: #fff;
  height: 100vh;
}
.user-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background: white;
  border-radius: 5px;
  color: black;
  margin: 20px;
  width: 350px;
}
.top {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid black;
}
.top > img {
  width: 50px;
  height: 50px;
}
h3 {
  font-size: 1.7em;
}
.title h3,
p {
  margin: 0px;
}
.middle {
  display: flex;
  border-bottom: 1px solid black;
}
.bottom {
  display: flex;
}
.middleDiv {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}
.middleDiv h3,
p {
  margin: 0px;
}
#middleDiv2 {
  border-left: 1px solid black;
}
#middleDiv3 {
  border-left: 1px solid black;
}
@media (max-width: 1500px) {
  .user-card {
    display: grid;
    grid-template-columns: 1fr;
  }
}
